<nav class="navbar" [class.navbar--scrolled]="scrolled()">
  <a class="navbar__brand" href="#top" aria-label="Motionly home">
    <img class="navbar__logo" [src]="logoSrc" alt="Motionly" width="120" height="28" />
  </a>

  <div class="navbar__links">
    <a class="navbar__link" href="#features">Features</a>
    <a class="navbar__link" href="#resources">Resources</a>
  </div>

  <div class="navbar__actions">
    <app-github-star-badge size="compact" />
    <app-product-hunt-badge size="compact" />
  </div>
</nav>
