<div id="top">
  <app-navbar />
  <main>
    <app-hero-section />
    <section id="features">
      <app-features-section />
    </section>
    <app-showcase-section />
    <section class="founder-note" aria-labelledby="founder-note-title">
      <div class="founder-note__content">
        <blockquote>
          <p>
            "I spent hours trying to find inspiration, specific templates to get
            started on a promotion video on our new feature. Some animations are
            so specific, I can't find it on the internet. So I started Motionly,
            to hopefully solve that."
          </p>
          <footer id="founder-note-title">Prom Sereyreaksa</footer>
        </blockquote>
      </div>
    </section>
    <section id="resources">
      <app-resources-section />
    </section>
  </main>
  <app-footer />
</div>
